/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Basic Page Styling */
body {
    background-color: #f8f9fa;
   
}


:root {
    /* colors  */
    --cold_black:#353535;
    --green_to_blue:#3c6e71;
    --white:#ffffff;
    --grey_cold:#d9d9d9;
    --dark_blue:#284b63;


    /* fonts  */

    --font_primary:'Helvetica',sans-serif ;
    --font_secondary:'optima',serif;
    --font_third :'Baskerville',sans-serif;

    /* font weight  */
--weight-bold: 700;
--weight-semiBold: 600;
--weight-regular: 400;


/* letter spacing  */
--traking-n-025: -0.25px;
--traking-p-05: 0.5px;


/* border radius */
--radius-small: 8px;
--radius-medium: 12px;
--radius-large: 16px;
--radius-extra-large: 32px;
--radius-full: 1000px;
--radius-circle: 50%;

/* box shadow  */
--shadow-1: 0px 2px 4px 0px #00000033;
--shadow-2: 0px 5px 10px 0px #0000000D;
--shadow-3: 0px 5px 10px 0px #00000033;
--shadow-4: 0px 10px 20px 0px #0000001A;


}




/* HEADER */



body .header {
    display: flex;
    justify-content: space-between;
    height: 55px;
    width: 100%;
    background-color: var(--green_to_blue);
    animation: colorchange 12s; 
   animation-iteration-count: infinite;
    position: relative;
    
}
@keyframes colorchange {
    33%{background-color: #3c6e71;}
    66%{background-color: #284b63;}
    0%,100%{background-color:var(--cold_black);}
}

/* the logo of the website  */

body .header .logo {
    font-family:'Helvitica','serif';
    font-size: 40px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    

}
body .header .logo a {
    text-decoration: none;
    color: white;
}
body .header ul {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 100%;
}
body .header ul li {
    list-style: none;
    font-family: var(--font_primary);
    font-size: 20px;
    padding: 10px;
    color: white;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;

}

body .header ul a {
    text-decoration: none;
    color: white;
    text-decoration: none;
    transition: background-color 500ms ease;
    height: 100%;
    display: flex;
    align-items: center;

}
body .header ul a li:hover {
background-color:#172d3b;
}
#exitmenu {
    display: none;
}


/* the login icon of the user  */
body .header .login-icon a{
    font-size: 20px;
    color: white;

}
body .header .fa-circle-user {
    margin-left: 7px;
}
body .header  .fa-cart-shopping {
    margin-left: 7px;
}


/* the icone menu in the phone  */
body .header .menu-icon {
    display: none;

}



/* responsive header  */

@media (max-width:700px) {
    
body .header {
    background-color: transparent;
    z-index: 5;
    
}

body .header ul {

    position: fixed;
    top: 0;
    right: -250px; /* Start off-screen */
    width: 250px;
    height: 100vh;
    background: #222;
    list-style: none;
    display: flex;
    flex-direction: column;
    transition: right 0.5s ease-in-out;
    justify-content: space-around;
    z-index: 10;
}
body .header ul li,body .header ul a {
  width:100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  padding-block: 0;
  padding-inline: 5px;
  
}
body .header ul li:active,body .header ul a:active{
    background-color: #353535;
}
.menu.show{
    right: 0px;
}

/* menu responsive button  */

body .header .menu-icon {
    
    display:flex;
    font-size: 30px;
    align-items: center;
    padding: 10px;
    color: white;
    cursor: pointer;
    
}


/* exit section  */

#exitmenu {
    display: block;
    color: white;
    font-size: 30px;
    padding: 5px;
    position: relative;
    top: 0;
    left: 0;
    align-items: center;
    display: flex;
    
}

/* home hover */

body .header .home li:hover {
    background-color: transparent;
}



}





/* HERO */



body, h1, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Hero Section */
.hero {
    height: calc(100vh - 55px);
    background: url(../images/picture\ 1.png) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: start;
    color: black;
    position: relative;
    flex-direction: column;
    gap: minmax(30px , 60px);
    animation: slide 12s; 
    animation-iteration-count: infinite;
    
}

/* Dark overlay effect */


/* Hero Content */
.hero  .hero-content {
    position: relative;
    max-width: 50%;
    margin-left: 10%;


    
}

/* Hero Text */
.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
    font-family: var(--font_secondary);
    

}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-family: var(--font_third);
    color: white;
    letter-spacing:1.4;
    
}


.btn {
    display: inline-block;
    background: var(--white);
    color: var(--cold_black);
    padding: 12px 24px;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    font-family: var(--font_third);
}

.btn:hover {
    background-color: rgb(205, 190, 190);
    border-color:var(--green_to_blue) ;
    border: 1px solid;
    color: var(--green_to_blue);
}



@keyframes slide {
    33%{background:url(../images/picture\ 1.png) no-repeat center center/cover ;
    }
    66%{background:url(../images/picture\ 2.png) no-repeat center center/cover ;}
    0%,100%{background:url(../images/picture\ 3.png) no-repeat center center/cover ;}
}
@keyframes slidephone {
    33%{background:url(../images/picture\ 1.png) no-repeat 70% center/cover ;
    }
    66%{background:url(../images/picture\ 2.png) no-repeat 70% center/cover ;}
    0%,100%{background:url(../images/picture\ 3.png) no-repeat 70% center/cover ;}
}



/* responsive Hero  */
@media (max-width:700px) {
    .hero {
        animation: slidephone 12s infinite;
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100%;
        z-index: 2;
    }
    
    .hero h1 {
        font-size: 2rem;
    }

}








  /* SIGN UP WITH EMAIL SECTION   */
  .newsletter {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--cold_black);
    padding: 40px 80px;
}
.newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #ffff;
    margin-bottom: 10px;
    font-family: var(--font_primary);
}
.newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: var(--white);
    font-family: var(--font_secondary);
    margin-top: 15px;
    margin-bottom: 15px;

}
.newsletter .newstext p span {
    color: var(--green_to_blue) ;
}
.newsletter input {
    height: 3.125rem;
    padding:  15px;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
}
.form-kh {
    display: flex;
    width: 55%;
}
.newsletter button {
    background-color: var(--green_to_blue);
    color: #f8f9fa;
    height: 3.125rem;
    padding:  15px;
    border: 1px solid transparent;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-family: var(--font_primary);
    width: 40%;
    cursor: pointer;
    
    

}
.newsletter button:hover {
    color:var(--green_to_blue);
    background-color: var(--white);
}




@media (max-width:700px) {
    .newsletter {
        padding-top: 100vh;
        position: relative;
        z-index: 1;
        width: 100%;
        padding-inline: 20px;
    }
    .form-kh {
        z-index: 2;
    }


    .newsletter button {
        min-width: 40%;
    }
    .newsletter input {
        min-width: 100%;
    }
    .form-kh  {
        width: 80%;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-block: 10px;
    }
    .newstext {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: auto;
    }
    .newsletter p {
       text-align: center;
    }
}




/* animated icons section */
/* .animated-ico {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 100px ;
    padding: 50px;
}
.animated-ico  h3 {
    margin-top: 20px;
    font-family: var(--font_primary);
}
.animated-ico p {
    margin-top: 10px;
    font-weight:500;
    max-width: 300px;
    font-family: var(--font_third); 
}
.shipping h3 {
    color: #05a4b9;
    margin-left: 72px;
}
.shipping img, 
.services img {
    position: relative;
    margin-left: 79px;
}
.services h3 {
    color: #05a4b9; 
    margin-left:39px;
}
.secure h3 {
    color: #05a4b9;
    margin-left: 49px;
}
.secure img {
    position: relative;
    margin-left: 59px;
} */




 /* .secure::before,
.services::after {
    content: "";
    height: 170px;
    width: 1px;
    bottom: 175px;
    margin-left: -100px;
    position: absolute;
    background-color: var(--white);
    opacity: 50%;
}  */

/* footer styling */






footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 40px 40px;
    height: auto;
    background-color:var(--white);


}
 footer .colo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px ;
    font-family: var(--font_primary);
    justify-content: center;
}
footer .foot-logo {
    margin-bottom: 30px;

}
footer h3 {
    font-family: var(--font_primary);
    font-size: 14px;
    padding-bottom: 20px;
    font-family: var(--font_primary);
}
footer p {
    font-size: 13px;
    margin: 0 0 8px 0 ;
    font-family: var(--font_third);
}
footer a {
    font-size: 13 px;
    text-decoration: none;
    color: var(--green_to_blue);
    margin-bottom: 10px;
    font-family: var(--font_third);
} 
.colo a:hover {
    color: var(--white);
    background-color: var(--dark_blue);
}
footer .follow {
    margin-top: 20px;
}
footer .icon-kh {
    color: #ffbd27;
    padding-right: 4px;
    cursor: pointer;
}
footer .row img {
    border: 1px solid var(--dark_blue);
    border-radius: 6px;
    margin-bottom: 10px;
}
.pay {
    margin-top: 10px ;
}
footer h3 {
    color: var(--dark_blue);
}
.copywright p {
    font-size: 20px;
    font-weight: bold;
    color: #353535;
    font-family: var(--font_third);
    text-align: center;
}
