/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Basic Page Styling */
body {
    background-color: #f8f9fa;
   
}


:root {
    /* colors  */
    --cold_black:#353535;
    --green_to_blue:#3c6e71;
    --white:#ffffff;
    --grey_cold:#d9d9d9;
    --dark_blue:#284b63;


    /* fonts  */

    --font_primary:'Helvetica',sans-serif ;
    --font_secondary:'optima',serif;
    --font_third :'Baskerville',sans-serif;

    /* font weight  */
--weight-bold: 700;
--weight-semiBold: 600;
--weight-regular: 400;


/* letter spacing  */
--traking-n-025: -0.25px;
--traking-p-05: 0.5px;


/* border radius */
--radius-small: 8px;
--radius-medium: 12px;
--radius-large: 16px;
--radius-extra-large: 32px;
--radius-full: 1000px;
--radius-circle: 50%;

/* box shadow  */
--shadow-1: 0px 2px 4px 0px #00000033;
--shadow-2: 0px 5px 10px 0px #0000000D;
--shadow-3: 0px 5px 10px 0px #00000033;
--shadow-4: 0px 10px 20px 0px #0000001A;


}




/* HEADER */



body .header {
    display: flex;
    justify-content: space-between;
    height: 55px;
    width: 100%;
    background-color: #284b63;
}

/* the logo of the website  */

body .header .logo {
    font-family: var(--font_secondary);
    font-size: 40px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    

}
body .header .logo a {
    text-decoration: none;
    color: white;
}
body .header ul {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 100%;
}
body .header ul li {
    list-style: none;
    font-family: var(--font_primary);
    font-size: 20px;
    padding: 10px;
    color: white;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;

}

body .header ul a {
    text-decoration: none;
    color: white;
    text-decoration: none;
    transition: background-color 500ms ease;
    height: 100%;
    display: flex;
    align-items: center;

}
body .header ul a li:hover {
background-color:#172d3b;
}


/* the login icon of the user  */
body .header .login-icon a{
    font-size: 20px;
    color: white;
}


/* the icone menu in the phone  */
body .header .menu-icon {
    display: none;

}



/* responsive header  */

@media (max-width:700px) {

body .header ul {
    
    flex-direction: column;
    background-color: black;
    right: 0;
    top: 0;
    position:absolute;
    opacity: 0;
    transition: right 0.5s ease-in-out;
}

body .header .menu-icon {
    display:flex;
    font-size: 30px;
    align-items: center;
    padding: 10px;
    
}
body .header .menu-icon a {
    color: white;
}

body .header .menu-icon a:hover  {
    display: none;
    
}

}
